<% if @vote.valid? %>
   $('#<%= @post.id %>').html("<strong><%= @post.points %></strong>");
 <% else %>
   $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
<% end %>